<?xml version="1.0"?>
<robot name="asv_description" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find asv_description)/urdf/common_properties.xacro"/>
  <link name="base_footprint">
    <inertial>
      <mass value="0.0001"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <joint name="base_footprint_joint" type="fixed">
    <origin rpy="${PI/2} 0 ${-PI/2}" xyz="0 0 0.75"/>
    <parent link="base_footprint"/>
    <child link="base_link"/>
  </joint>
  <link name="base_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="8.3305"/>
      <inertia ixx="0.48818" ixy="-1.0031E-06" ixz="-0.00052597" iyy="0.77995" iyz="0.060345" izz="0.40032"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://asv_description/meshes/base_link.STL"/>
      </geometry>
      <xacro:insert_block name="fiber"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://asv_description/meshes/base_link.STL"/>
      </geometry>
    </collision>
  </link>
  <link name="thruster_left">
    <inertial>
      <origin xyz="-5.6771E-05 0.0040313 0.0046012" rpy="0 0 0" />
      <mass value="0.344"/>
      <inertia ixx="0.00021485" ixy="3.2191E-08" ixz="-2.6839E-07" iyy="0.00017649" iyz="-5.6241E-06" izz="0.00021842" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://asv_description/meshes/thruster_left.STL"/>
      </geometry>
      <xacro:insert_block name="fiber"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://asv_description/meshes/thruster_left.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="body_to_thruster_left" type="fixed">
    <origin xyz="-0.36142 -0.26516 0.17933" rpy="0.13754 -0.00034105 -4.7207E-05" />
    <parent link="base_link"/>
    <child link="thruster_left"/>
    <axis xyz="0 0 0"/>
  </joint>
  <link name="thruster_right">
    <inertial> 
      <origin xyz="0.009147 0.051319 5.6777E-05" rpy="0 0 0" />
      <mass value="0.344"/>
      <inertia ixx="0.00021842" ixy="-5.6243E-06" ixz="-2.6839E-07" iyy="0.00017649" iyz="3.2223E-08" izz="0.00021485" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://asv_description/meshes/thruster_right.STL"/>
      </geometry>
      <xacro:insert_block name="fiber"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://asv_description/meshes/thruster_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="body_to_thruster_right" type="fixed">
    <origin xyz="0.36046 -0.21222 0.20053" rpy="-1.5683 1.4333 1.5733" />
    <parent link="base_link"/>
    <child link="thruster_right"/>
    <axis xyz="0 0 0"/>
  </joint>
  <link name="top_body">
    <inertial>
      <origin xyz="-2.8917E-05 0.15165 0.037907" rpy="0 0 0" />
      <mass value="2.25" />
      <inertia ixx="0.15001" ixy="-2.6283E-07" ixz="-1.8435E-05" iyy="0.24012" iyz="-0.0048082" izz="0.091887" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://asv_description/meshes/top_body.STL"/>
      </geometry>
      <xacro:insert_block name="fiber"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://asv_description/meshes/top_body.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="base_to_top_body" type="fixed">
    <origin xyz="-0.00047785 0.0019807 -0.052277" rpy="0.13754 0 0" />
    <parent link="base_link" />
    <child link="top_body" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="top_cover">
    <inertial>
      <origin xyz="2.7931E-06 -0.018976 0.0015" rpy="0 0 0" />
      <mass value="0.25" />
      <inertia ixx="0.0040673" ixy="7.734E-08" ixz="9.5757E-11" iyy="0.0069646" iyz="1.5184E-12" izz="0.011031" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://asv_description/meshes/top_cover.STL" />
      </geometry>
      <xacro:insert_block name="fiber"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://asv_description/meshes/top_cover.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="top_body_to_cover" type="fixed">
    <origin xyz="0.00059952 0.19104 0.1763" rpy="-1.5708 0 0" />
    <parent link="top_body" />
    <child link="top_cover" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="sensor_pod">
    <inertial>
      <origin xyz="-0.0313270686904997 -0.0167936992565718 0.0494228812013066" rpy="0 0 0" />
      <mass value="0.779617603716845" />
      <inertia ixx="0.00751775076858336" ixy="-0.00203584639790496" ixz="2.31262492961429E-05" iyy="0.00600882428399423" iyz="-0.000131398653996354" izz="0.00961028438611889" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://asv_description/meshes/sensor_pod.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 0.875" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://asv_description/meshes/sensor_pod.STL" />
      </geometry>
    </collision>
  </link>
    <joint name="top_to_sensor_pod" type="fixed">
    <origin xyz="-0.0605 0.2547 -0.47015" rpy="0 1.5708 0" />
    <parent link="top_body" />
    <child link="sensor_pod" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="lidar">
      <inertial>
        <mass value="1.1" />
        <origin xyz="0 0 0" />
        <inertia ixx="${0.0833333 * 1.1 * (0.102*0.102 + 0.152*0.152)}" ixy="0.0" ixz="0.0"
          iyy="${0.0833333 * 1.1 * (0.105*0.105 + 0.152*0.152)}" iyz="0.0"
          izz="${0.0833333 * 1.1 * (0.105*0.105 + 0.102*0.102)}" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <!-- Origin of this mesh is the focal point of the LIDAR. -->
          <mesh filename="package://lms1xx/meshes/sick-lms1xx.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 -0.05" rpy="0 0 0" />
        <geometry>
          <box size="0.105 0.1 0.1" />
        </geometry>
      </collision>
  </link>
  <joint name="pod_to_lidar" type="fixed">
    <origin xyz="0.12796 0.027079 0.0615" rpy="-0.029295 -1.5706 3.0041" />
    <parent link="sensor_pod" />
    <child link="lidar" />
    <axis xyz="1 0 0.00016955" />
  </joint>

  <link name="garmin">
    <inertial>
      <origin xyz="-2.22044604925031E-16 0.0233424958570854 5.55111512312578E-17" rpy="0 0 0" />
      <mass value="0.335604780394551" />
      <inertia ixx="0.000247340723745472" ixy="-3.18484388167617E-19" ixz="0" iyy="0.000369020311277321" iyz="2.45639554703747E-20" izz="0.000247340723745472" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://asv_description/meshes/garmin.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://asv_description/meshes/garmin.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="top_to_garmin" type="fixed">
    <origin xyz="-0.098919 0.095841 0.0605" rpy="0 -0.25896 3.7327E-16" />
    <parent link="sensor_pod" />
    <child link="garmin" />
    <axis xyz="0 1 0" />
  </joint>
  <link name="camera">
    <inertial>
      <origin xyz="-1.73796464830733E-07 -4.98009879517092E-05 0.0251075786825743" rpy="0 0 0" />
      <mass value="0.0300315971398498" />
      <inertia ixx="8.07299224934798E-06" ixy="-8.07587604579709E-11" ixz="-1.57731359125827E-11" iyy="7.99310014596547E-06" iyz="-4.66161912662743E-08" izz="2.81279837645544E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://asv_description/meshes/camera.STL" />
      </geometry>
      <material name="">
        <color rgba="0.0196078431372549 0.0196078431372549 0.0196078431372549 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://asv_description/meshes/camera.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="pod_to_camera" type="fixed">
    <origin xyz="0.010199 0.2099 0.060138" rpy="-0.024936 1.5506 1.7851E-14" />
    <parent link="sensor_pod" />
    <child link="camera" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="middle_hull">
    <inertial>
      <origin xyz="-7.0577027015406E-05 0.00726239263966022 0.0511096210572804" rpy="0 0 0" />
      <mass value="0.575105324122937" />
      <inertia ixx="0.0473784082956317" ixy="2.8682973622882E-08" ixz="-5.19102228124097E-05" iyy="0.0503136291732273" iyz="-0.000595967522265734" izz="0.00356731462662937" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://asv_description/meshes/middle_hull.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://asv_description/meshes/middle_hull.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="base_to_middle_hull" type="fixed">
    <origin xyz="0.0001217 -0.038509 -0.098623" rpy="0.13754 0 0" />
    <parent link="base_link" />
    <child link="middle_hull" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="mount">
    <inertial>
      <origin xyz="7.7715611723761E-16 0.0459075866251255 -1.0547118733939E-15" rpy="0 0 0" />
      <mass value="0.232606589999998" />
      <inertia ixx="0.00435238805493663" ixy="-2.54722788403769E-18" ixz="-1.01800707736603E-18" iyy="0.00376415843293126" iyz="1.96240593219876E-17" izz="0.00186099035250626" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://asv_description/meshes/mount.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://asv_description/meshes/mount.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="hull_to_mount" type="fixed">
    <origin xyz="0 0.003 0.23093" rpy="-1.9429E-16 0 0" />
    <parent link="middle_hull" />
    <child link="mount" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="electronics">
    <inertial>
      <origin xyz="-0.000408645492943005 0.00429430260895264 0.0283247121981138" rpy="0 0 0" />
      <mass value="0.0167635286879548" />
      <inertia ixx="1.20668083937559E-05" ixy="6.3655155776584E-08" ixz="1.12301147803476E-07" iyy="1.34590657060544E-05" iyz="-3.54535595222186E-07" izz="1.92268280200472E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://asv_description/meshes/electronics.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://asv_description/meshes/electronics.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="mount_electronics" type="fixed">
    <origin xyz="-0.058 0.003 -0.032" rpy="0 0 0" />
    <parent link="mount" />
    <child link="electronics" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="rs232">
    <inertial>
      <origin xyz="6.91084563742006E-07 0.000150081993191678 -0.00629305915730355" rpy="0 0 0" />
      <mass value="0.00200018013952998" />
      <inertia ixx="3.12591866027674E-08" ixy="-1.03041254353452E-11" ixz="-2.35364197666885E-11" iyy="1.26619962698989E-07" iyz="4.11715868936075E-10" izz="1.26440243946498E-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://asv_description/meshes/rs232.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://asv_description/meshes/rs232.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="mount_to_rs232" type="fixed">
    <origin xyz="0 0.0134 0.13225" rpy="-1.5708 0 0" />
    <parent link="mount" />
    <child link="rs232" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="battery_1">
    <inertial>
      <origin xyz="0 0.0185 2.77555756156289E-17" rpy="0 0 0" />
      <mass value="0.492100000000001" />
      <inertia ixx="0.000257081241666667" ixy="-2.1678844206946E-19" ixz="4.59489782040709E-19" iyy="0.00168134166666667" iyz="1.49077798716757E-19" izz="0.00153654124166667" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://asv_description/meshes/battery_1.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://asv_description/meshes/battery_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="hull_to_battery_1" type="fixed">
    <origin xyz="0 0.038 0.49893" rpy="1.5708 0 0" />
    <parent link="middle_hull" />
    <child link="battery_1" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="battery_2">
    <inertial>
      <origin xyz="0 0.0185 2.77555756156289E-17" rpy="0 0 0" />
      <mass value="0.492100000000001" />
      <inertia ixx="0.000257081241666667" ixy="-2.06160681448933E-19" ixz="4.58018745793424E-19" iyy="0.00168134166666667" iyz="1.62630325872826E-19" izz="0.00153654124166667" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://asv_description/meshes/battery_2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://asv_description/meshes/battery_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="hull_to_battery_2" type="fixed">
    <origin xyz="0 0.038 0.46193" rpy="1.5708 0 0" />
    <parent link="middle_hull" />
    <child link="battery_2" />
    <axis xyz="0 0 0" />
  </joint>
</robot>